@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h1 class="display-4">FORMULARIOS</h1>
    <p><a href="Cliente/Agregar">Agregar Cliente</a></p>
</div>

<div class="text-center">
    <h1 class="display-4">LISTA</h1>
    <p><a href="Cliente/Lista">Listado Clientes</a></p>
</div>

