@{
    ViewData["Title"] = "Confirmación";
}

<h2>Cliente creado</h2>

<p>@TempData["Mensaje"]</p>

<a href="/Cliente/Agregar">Agregar otro cliente</a>
<a href="/Cliente/Lista">Ver lista clientes</a>
